/* Borrar botón para listar todas las pestañas */
#alltabs-button {
  display: none !important;
}

/* Desactivar el icono para las carpetas en marcadores */
#personal-bookmarks .bookmark-item[container="true"] .toolbarbutton-icon {
  display: none !important;
}
